<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample">
	<select id="getCustomList" resultType="com.spring1.dto.Custom">
		select * from custom order by resdate desc
	</select>	
	<select id="getCustom" resultType="com.spring1.dto.Sample">
		select * from custom where id=#{id}
	</select>
	<select id="maxNum" resultType="int">
		select count(*) from custom
	</select>
	<!--  최근 마지막 번호(MySQL/MariaDB/PostGres) : select num from sample order by num desc limit 1; -->
	<insert id="insSample">
		insert into sample values (#{id}, #{pw}, #{name},#{email},#{tel},#{addr},#{postcode},default);
	</insert>
	<update id="changePw">
		update custom set pw=#{pw} where id=#{id}
	</update>
	<update id="changeInfo">
		update custom set name=#{name}, email=#{email}, tel=#{tel}, addr=#{addr}, postcode=#{postcode}
	</update>
	<delete id="delCustom">
		delete from sample where id=#{id}
	</delete>
</mapper>